[submodule "proto/protos/avalanchego"]
	path = proto/protos/avalanchego
	url = https://github.com/ava-labs/avalanchego.git
[submodule "proto/protos/avalanche-network-runner"]
	path = proto/protos/avalanche-network-runner
	url = https://github.com/ava-labs/avalanche-network-runner
